# project files
/.gradle/
/.settings/
/.metadata/
/.vscode/
.classpath
.project
/.idea/
.node_modules
/node_modules

# build files
/build/
/bin/

# output files
/.allure/
/allure-report/
/allure-results/
/target/
/test-output/

# Mac recovery files
.DS_Store